# Temp files
*~
*.o

# Executables
RatesMC2
build
project
Training

# CMake stuff
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile

## Extras
tests
GPATH
GRTAGS
GTAGS
RatesMC-*.in
compile_commands.json
deploy
/.clangd/
/RatesMC_template.in
/.cache/
